body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.main {
    background-color: #000;
}

h1 {
    color: #ffa500;
    text-align: center;
    margin: 20px 0;
}

form {
    max-width: 400px;
    margin: auto;
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgb(200, 95, 16);
    animation: slideIn 0.5s ease-out;
}

input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #ffffff;
}

input[type="email"]:focus,
input[type="password"]:focus {
    background-color: #444;
}

button {
    background-color: #ffa500;
    border: none;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #ff8c00;
}

#signin-message,
#signup-message {
    text-align: center;
    color: #ff4d4d;
}
